.dropdown-menu {
	position: absolute;
	top: 125%;
	right: 0;
	display: flex;
	flex-direction: column;
	list-style: none;
	padding: 0.5rem 0;
	border-radius: 2px;
	box-shadow: 0 1px 3px 0 grey;
}

.dropdown-menu__item {
	padding: 0.5rem 1rem;
	color: inherit;
	white-space: nowrap;
}

.dropdown-menu__item:hover {
	background-color: var(--secondary);
}
