.dropdown {
    display: flex;
    position: relative;
		outline: none;
		flex-grow: 1;
}

.dropdown > * > * {
	white-space: nowrap;
}

.dropdown-btn {
    display: flex;
    background-color: inherit;
    font-size: 1rem;
    border-radius: 5px 5px;
    border: 1px solid var(--primary);
    cursor: pointer;
}

.dropdown-btn.form {
    border-radius: 5px 5px 0 0;
		border: none;
    border-bottom: 1px solid var(--primary);
}

.dropdown-btn > * {
		padding: .75rem 0;
		padding-left: .75rem;
}

.dropdown-btn > *:last-child {
    padding-right: .75rem;
}

.dropdown-content {
    position: absolute;
    width: 100%;
		max-height: 250px;
    top: 100%;
		overflow-y: auto;
    background-color: white;
    border: 1px solid var(--secondary-dark);
    border-top: none;
		border-radius: 5px 5px;
    list-style: none;
    padding: .5rem 0;
    z-index: 1;
    outline: none;
}

.dropdown-content li {
    padding: 1rem;
}

.dropdown-content li:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, .1);
}

.dropdown-content li.placeholder::before {
	content: '-- ';
}

.dropdown-content li.placeholder::after {
	content: ' --';
}

.dropdown-content li.placeholder {
	background-color: inherit;
	cursor: auto;
	color: grey;
}
