form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    box-shadow: 0 2px 20px 1px grey;
    border-radius: 10px;
}

.input {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2rem;
    padding: 1.35rem .75rem .4rem 1rem;
    border-radius: .35rem .35rem 0 0;
    border-bottom: solid 1px #aaa;
    background-color: white;
    outline: none;
    cursor: text;
}

.input:hover {
    border-bottom: solid 1px black;
}

.input:focus-within {
    background-color: #ddd;
    border-bottom: solid 1px darkred;
}

.input:not(:only-child):not(:first-child) {
    margin-left: 1rem;
}

.input input:not([type='submit']) {
    border: 0;
    padding: 0;
    outline: none;
    font-size: 1.25rem;
    background-color: inherit;
}

.label {
    position: absolute;
    top: .875rem;
    left: 1rem;
    transition-duration: .2s;

    font-size: 1.25rem;
    color: black;
    opacity: .3;
}

.input input:focus + .label, .label.raise {
    top: .5rem;
    font-size: .75rem;
    color: darkred;
    opacity: 1;
}

.label.raise {
    opacity: .5;
}

.input p {
    position: absolute;
    left: 1rem;
    top: calc(100% + .5rem);
    font-size: .75rem;
}

.error {
    color: red;
}

.help {
    color: black
}

.form-button {
    padding: 10px;
    margin: 2rem 0;
    border: none;
    font-size: 1.5rem;
    color: white;
    background-color: green;
    width: 100%;
}

.form-button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.invalid-form, .invalid-form:hover {
    opacity: .5;
    cursor: not-allowed;
}