form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    box-shadow: 0 2px 20px 1px grey;
    border-radius: 10px;
}

.form-button {
    padding: 10px;
    /*margin: 2rem 0;*/
    border: none;
    font-size: 1.5rem;
    color: white;
    background-color: green;
    width: 100%;
}

.form-button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.invalid-form, .invalid-form:hover {
    opacity: .5;
    cursor: not-allowed;
}
