header {
    background-color: var(--primary);
    padding: 1rem 0;
}

header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--main-width);
    margin: auto;
}

a {
    text-decoration: none;
    color: blue;
}

.header-button {
    padding: 10px;
    margin: auto 2px;
    text-decoration: none;
    color: var(--secondary);
}

.header-button.current {
	border-bottom: solid 2px var(--secondary);
}

.header-button:hover {
    cursor: pointer;
    border-bottom: solid 2px var(--secondary);
}
