header {
    background-color: var(--primary);
    padding: .25rem 1rem;
		display: flex;
		justify-content: space-between;
		color: var(--secondary);
		font-size: 14px;
}

header > div {
    display: flex;
    align-items: center;
    /* width: var(--main-width);
    margin: auto; */
}

a {
    text-decoration: none;
    color: blue;
}

header .nav-item {
    padding: 5px;
    margin: auto 5px;
    text-decoration: none;
    color: inherit;
		opacity: 0.9;
}

header .nav-item:hover,
header .nav-item.current {
	opacity: 1;
}

header .nav-item:hover {
	cursor: pointer;
}

.icon {
	padding: 0.5rem;
}

.icon:hover, .icon:focus {
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 100%;
	cursor: pointer;
	outline: none;
}
