header {
    background-color: var(--primary);
    padding: .5rem 1rem;
		display: flex;
		justify-content: space-between;
		color: var(--secondary);
}

header > div {
    display: flex;
    align-items: center;
    /* width: var(--main-width);
    margin: auto; */
}

a {
    text-decoration: none;
    color: blue;
}

header .nav-item {
    padding: 10px;
    margin: auto 2px;
    text-decoration: none;
    color: inherit;
}

header .nav-item.current {
	border-bottom: solid 2px var(--secondary);
}

header .nav-item:hover {
    cursor: pointer;
    border-bottom: solid 2px var(--secondary);
}

.icon {
	padding: 0.5rem;
}

.icon:hover, .icon:focus {
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 100%;
	cursor: pointer;
	outline: none;
}
