.table {
	border-spacing: 0 .5rem;
	margin-bottom: 1em;
}

.tr td {
	/* border-top: solid 2px black; */
	/* border-bottom: solid 2px black; */
}

.tr td:first-child { border-radius: 10px 0 0 10px; }
.tr td:last-child { border-radius: 0 10px 10px 0; }

/* shadow that also makes it look like the cells have overlaying borders */
.tr td:first-child { box-shadow: -1px 0 5px; }
.tr td:last-child { box-shadow: 1px 0 5px; }
.tr td:not(:first-child),
.tr td:not(:last-child) { box-shadow: 0 1px 5px; }

.tr td { padding: .75rem 1rem; }
.tr td:last-child { padding-right: 1rem; }

.table.standings tbody td:first-child { border-right: solid 2px grey; }

.tr.edit { }

.tr.editable td:last-child * {
	visibility: hidden;
}

.tr.editable:hover td:last-child * {
	visibility: visible;
}

.tr.fade:hover td:last-child * {
	visibility: hidden;
}

.tr.fade { opacity: 0.5; }

.tr > * > input { width: 100%; }

.tr > * > input[type='color'] {
  width: 100%;
  min-width: 40px;
}

/* .tr.disabled,
.tr.disabled > * > * {
  cursor: not-allowed;
} */

.tr.editable > * > input {
  background-color: inherit;
  border: none;
}

/* New table classes */

.table.small { font-size: .75rem; }
.table, .table.medium { font-size: 1rem; }
.table.large { font-size: 1.5rem; }

.table.narrow { width: var(--main-width); }
.table.wide { width: 90%; }

.table.center { margin: 1em auto; }

.tr.bg-primary { background-color: var(--primary); }
.tr.bg-secondary { background-color: var(--secondary); }
.tr.color-primary { color: var(--primary); }
.tr.color-secondary { color: var(--secondary); }

tbody.small .tr > * > * { font-size: .75rem; }
tbody .tr > * > *, tbody.medium .tr > * > * { font-size: 1rem; }
tbody.large .tr > * > * { font-size: 1.5rem; }

tbody .tr { background-color: var(--secondary-dark); }

span.rs { font-weight: bold; }

.table thead {
	position: sticky;
	top: -10px; /* compensate because elements can be seen at top when scrolling due to border-spacing pushing table header down */
}
