table {
    border-collapse: collapse;
    /*border: solid 1px black;*/
}

.standings tr {
    border-bottom: solid 1px grey;
}

.standings thead {
    background-color: darkred;
    color: #f2f2f2;
}

.standings td {
    padding: 1.5rem 1rem;
    font-size: 2rem;
}

.standings tbody td:first-child {
    border-right: solid 2px grey;
}

.schedule td {
    font-size: 2rem;
    padding: 1rem;
}

.atSign {
    /*padding: 0;*/
    text-align: center;
    font-size: 2rem;
}